{
    "existing_keys": [
        "384ea3738a13b6408c7ad00c88c53a69",
        "4dfdfc40fd20d9ffd59b07faf0eeed13"
    ],
    "keys_to_generate": 1,
    "update_period_hours": 24,
    "server_url": "127.0.0.1",
    "server_port": 443
}
